.form-submit {cursor: pointer;}
.form-submit a {text-decoration: none;}
.timerange-container {margin-top: 40px;}
.timerange-container label {padding-top: 7px;}
.video-container ul {margin: 10px auto 0; float: none;}
.video-container ul li {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}